.nav-contact{
    display: flex;
    width: 100vw;
    justify-content: right;
    /* align-items: end; */
    gap: 2rem;
    background: #663D00;
    color: #fff;
    font-size: 10px;
    font-weight: 400;
}

.navbar{
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    position: relative;
}

.nav-logo{
    display: flex;
    width: 20%;
}

.nav-links{
    color: #000;
    display: flex;
    width: 50%;
    /* gap: 50px; */
    justify-content: space-between;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

.nav-links a{
    color: #000;
}

.nav-links a:hover{
    color: #663D00;
}

.nav-links a:focus{
    color: #663D00;
    border-bottom: 2px solid #663D00;
}

.num-link{
    color: #663D00 !important;
    border-bottom: 2px solid #663D00;
}