
.Ficons{
    display: flex;
    width: 100vw;
    justify-content: center;
    gap: 20px;
    margin-bottom: 3rem;
    margin-top: 6rem;
}

.Ficons a{
    cursor: pointer;
}

.footer-info{
    display: flex;
    width: 100vw;
    border-top: 1px solid #00000080;
    justify-content: space-evenly;
}

.div2 h4, .div3 h4, .div4 h4, .div5 h4{
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.div1 ,.div2, .div3, .div4, .div5{
    padding: 0 15px;
}

.line{
    height: auto;
    border-right: 1px solid #000;
}

.info-list{
    display: flex;
    align-items: center;
    gap: 10px;
}

.info-list p, .div1 p{
    font-size: 14px;
    font-weight: 400;
    color: #000000B2;
}

.div1 h5{
    font-size: 14px;
    font-weight: 500;
}

.div1 p{
    font-size: 13px !important;
}

.copyright{
    display: flex;
    width: 100vw;
    background-color: #663D00;
    color: #fff;
    justify-content: space-around;
    padding: 15px 0px;
    font-size: 20px;
    font-weight: 400;
}

@media only screen and (max-width: 770px) {
    .copyright p{
        font-size: 10px;
    }
}